{% extends "main/base.html" %}

{% block title %}LDAP Authentication Tester{% endblock %}

{% block content %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">LDAP Authentication Tester</span>
                    <div class="row">
                        <form method="post" class="col s12">
                            <div class="row">
                                    <div class="input-field col s12 m12 l12 xl4">
                                        <i class="material-icons prefix">alternate_email</i>
                                        <label for="input-email">Email</label>
                                        <input type="email" name="email" id="input-email"/>
                                    </div>
                                    <div class="input-field col s12 m12 l12 xl4">
                                        <i class="material-icons prefix">lock</i>
                                        <label for="input-password">Password</label>
                                        <input type="password" name="password" id="input-password">
                                    </div>
                                    <div class="input-field col s12 m12 l12 xl4">
                                        <button class="btn btn-small light-blue" type="submit">Submit</button>
                                    </div>
                            </div>
                        </form>
                    </div>
                    {% if result and ldap_user_data %}
                        <div class="row">
                            <div class="col s12">
                                <blockquote>Test Status: <code>{{ result.status.name }}</code></blockquote>
                                <table class="table-small-font" id="table-ldap-data">
                                    <tbody>
                                    {% for key in ldap_user_data %}
                                        <tr>
                                            <th>{{ key }}</th>
                                            <td>{{ ldap_user_data[key] }}</td>
                                        </tr>
                                    {% endfor %}
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

{% endblock %}
