<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Authentication</title>
</head>
<body>

<form method="post">
    <div>
        <label for="">Email</label>
        <input type="text" name="email" />
    </div>
    <div>
        <label for="">Password</label>
        <input type="text" name="password">
    </div>
    <button type="submit">Submit</button>
</form>

{% if result != None %}
    <h1>{{ result.status.name }}</h1>
{% endif %}

{% if user != None %}
    <table>
        <tbody>
            {% for key in user %}
                <tr><th>{{ key }}</th><td>{{ user.get(key) }}</td></tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}

</body>
</html>