{% extends "layout.html" %}
{% block body %}


    <div class="card">
        <div class="card-content">
            <div class="row">
                <div class="col s12 m6 l3">
                    <a href="#resendModal" class="waves-effect btn-flat ">
                        <i class="material-icons left">send</i>
                        Resend
                    </a>
                </div>

                <div class="col s12 m6 l3">
                    <a href="#moveNextModal" class="waves-effect btn-flat ">
                        <i class="material-icons left">skip_next</i>
                        Move Next User
                    </a>
                </div>

                <div class="col s12 m6 l3">
                    <a href="#" class="waves-effect btn-flat " onclick="location.reload()">
                        <i class="material-icons left">undo</i>
                        Reset
                    </a>
                </div>

                <div class="col s12 m6 l3">
                    <a href="#" class="waves-effect waves-light btn orange " id="BtnSave">
                        <i class="material-icons left">save</i>
                        Save
                    </a>
                </div>
            </div>
            <hr/>
            <div class="row">
                <div class="col s12 m12 l6">
                    <ul id="offDutyTable" class="collection with-header connectedSortable">
                        <li class="collection-header grey">
                            <h5>
                                Off-Duty Users
                                <a href="#addUserModal" class="waves-effect waves-light btn blue right"
                                   style="padding:0 12px;">
                                    <i class="material-icons">person_add</i>
                                </a>
                            </h5>
                        </li>
                        {% for u in users %}
                            {% if u.on_duty == False %}
                                <li class="collection-item user-list hoverable" data-userid="{{ u.id }}">
                                    <i class="material-icons left">drag_handle</i>
                                    {{ u.name }}
                                    <a href="#deleteUserModal" data-userid="{{ u.id }}"
                                       class="btn-delete-user right">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#updateUserModel" data-userid="{{ u.id }}"
                                       class="btn-update-user right">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <a href="/vacation/{{ u.id }}" data-userid="{{ u.id }}"
                                       class="btn-vacation right">
                                        <i class="material-icons">date_range</i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="col s12 m12 l6">
                    <ul id="onDutyTable" class="collection with-header connectedSortable"
                        style="min-height:60px;">
                        <li class="collection-header blue">
                            <h5>
                                On-Duty Users
                            </h5>
                        </li>
                        {% for u in users %}
                            {% if u.on_duty == True %}
                                <li class="collection-item user-list hoverable" data-userid="{{ u.id }}"
                                    data-seq="{{ u.seq }}">
                                    <i class="material-icons left">drag_handle</i>
                                    {{ u.name }}
                                    <a href="#deleteUserModal" data-userid="{{ u.id }}"
                                       class="btn-delete-user right">
                                        <i class="material-icons">delete</i>
                                    </a>
                                    <a href="#updateUserModel" data-userid="{{ u.id }}"
                                       class="btn-update-user right">
                                        <i class="material-icons">mode_edit</i>
                                    </a>
                                    <a href="/vacation/{{ u.id }}" data-userid="{{ u.id }}"
                                       class="btn-vacation right">
                                        <i class="material-icons">date_range</i>
                                    </a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>







    <!-- Modal (ADD) -->
    <div class="modal" id="addUserModal">
        <div class="modal-content">

            <h4>Add New User</h4>

            <div class="row">
                <form class="col s12" id="addNewUserForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input type="text" class="validate" name="name">
                            <label class="active">Name</label>
                        </div>
                        <div class="input-field col s6">
                            <input type="email" class="validate" name="email">
                            <label class="active">Email</label>
                        </div>
                    </div>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="modal-action modal-close waves-effect btn-flat">Cancel</button>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn blue"
                        id="submitAddNewUser">Add
                </button>
            </div>
        </div>
    </div>


    <!-- Modal (UPDATE) -->
    <div class="modal" id="updateUserModel">
        <div class="modal-content">

            <h4>Update User</h4>

            <div class="row">
                <form class="col s12" id="updateUserForm">
                    <div class="row">
                        <div class="input-field col s6">
                            <input value="*" type="text" class="validate" name="name"/>
                            <label class="active">Name</label>
                        </div>

                        <div class="input-field col s6">
                            <input value="*" type="email" class="validate" name="email"/>
                            <label class="active">Email</label>
                        </div>
                    </div>
                    <input type="hidden" id="updateUserId" value="" name="id">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button"
                        class="modal-action modal-close waves-effectmodal-action modal-close waves-effect waves-blue btn-flat btn-flat">
                    Cancel
                </button>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn blue"
                        id="submitUpdateUser">Update
                </button>
            </div>
        </div>
    </div>


    <!-- Modal (DELETE) -->
    <div class="modal" id="deleteUserModal">
        <div class="modal-content">

            <h4>Confirmation</h4>

            <div class="row">
                <form class="col s12" id="deleteUserForm">

                    <p>You are about deleting the user below. This action is irreversible.</p>
                    <blockquote id="userNameEmail"></blockquote>
                    <p>Do you want to proceed?</p>

                    <input type="hidden" name="deleteUserIds" id="deleteUserId" value="">
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</button>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn red"
                        id="submitDeleteUser">Delete
                </button>
            </div>
        </div>
    </div>


    <!-- Modal (MOVE NEXT) -->
    <div class="modal" id="moveNextModal">
        <div class="modal-content">

            <h4>Confirmation</h4>

            <p>Are you sure you want to move to the next next user?</p>
            <div class="modal-footer">
                <button type="button" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</button>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn blue"
                        id="submitMoveNext">Move Next User
                </button>
            </div>
        </div>
    </div>


    <!-- Modal (RESEND) -->
    <div class="modal" id="resendModal">
        <div class="modal-content">

            <h4>Confirmation</h4>

            <p>Are you sure you want to resend an email?</p>
            <div class="modal-footer">
                <button type="button" class="modal-action modal-close waves-effect waves-blue btn-flat">Cancel</button>
                <button type="button" class="modal-action modal-close waves-effect waves-light btn blue"
                        id="submitResend">Resend
                </button>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {

            $('#moveNextModal').modal();
            $('#resendModal').modal();
            $('#addUserModal').modal();
            $('#updateUserModel').modal();
            $('#deleteUserModal').modal();

            $('.btn-delete-user, .btn-update-user, .btn-vacation').hover(function () {
                $(this).addClass('orange-text');
            }, function () {
                $(this).removeClass('orange-text');
            })
        });
    </script>
{% endblock %}

