{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Email Configuration</span>
                    <form method="post">
                        <div class="input-field">
                            <label for="FromAddress">From Address</label>
                            <input type="email" class="validate tooltipped" id="FromAddress"
                                   name="email_from_address"
                                   data-tooltip="Please enter sender's email address"
                                   value="{{ from_address }}">
                        </div>
                        <div class="input-field">
                            <label for="FromName">From Name</label>
                            <input type="text" class="validate tooltipped" id="FromName"
                                   name="email_from_name"
                                   data-tooltip="Please enter sender's name"
                                   value="{{ name }}">
                        </div>
                        <div class="input-field">
                            <label for="EmailSubject">Subject</label>
                            <input type="text" class="validate tooltipped" id="EmailSubject"
                                   name="email_subject"
                                   data-tooltip="Hint: The { name } placeholder is available."
                                   value="{{ subject }}">
                        </div>
                        <div class="input-field">
                            <label for="EmailBody">Body</label>
                            <textarea class="materialize-textarea tooltipped" id="EmailBody"
                                      name="email_body"
                                      data-tooltip="Hint: The { name } and { ip } placeholder is available."
                                      style="height: 6rem;">{{ body }}</textarea>
                        </div>
                        <div class="card-action">
                            <button type="submit" class="waves-effect waves-light btn blue right">
                                <i class="material-icons left">save</i>Save
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>


{% endblock %}


{% block scripts %}
    <script>
        $(document).ready(function () {

            $('.tooltipped').tooltip();


        });
    </script>
{% endblock %}
