{% extends "main/base.html" %}

{% block title %}Holidays{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Holidays</span>
                    <div class="row">
                        <form method="post">
                            <div class="input-field col m12 l3">
                                <input type="text" name="date" class="datepicker" id="date">
                                <label>Date</label>
                            </div>
                            <div class="input-field col m12 l6">
                                <input type="text" name="remarks" class="validate">
                                <label>Remarks</label>
                            </div>
                            <div class="input-field col m12 l3">
                                <button type="submit" class="waves-effect waves-light btn light-blue right" href="#" id="add-button">
                                    <i class="material-icons left">add</i>Add
                                </button>
                            </div>
                        </form>
                    </div>
                    {% for h in holidays %}
                        <div class="row">
                            <div class="col m12 l3">
                                <div>{{ h.date.date() }}</div>
                            </div>
                            <div class="col m12 l6">
                                <div>{{ h.remarks }}</div>
                            </div>
                            <div class="col m12 l3">
                                <button type="submit" class="waves-effect waves-light btn red right" href="#">
                                    <i class="material-icons">delete</i>
                                </button>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-action right-align">
                    <a class="waves-effect waves-light btn-flat light-blue-text" href="#" id="btnReset">
                        <i class="material-icons left">check</i>OK
                    </a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var now = new Date(moment());
            var elem = document.querySelector('#date');
            var instance = M.Datepicker.init(elem, {
                setDefaultDate : true,
                defaultDate: now,
                minDate: now,
                disableWeekends: true,
                format: 'yyyy-mm-dd',
            });
        });
    </script>
{% endblock %}