{% extends "main/base.html" %}

{% block title %}Holidays{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <span class="card-title">Holidays</span>
                    <div class="row">
                        <form method="post">
                            <div class="input-field col m12 l3">
                                <input type="text" name="date" class="datepicker" id="date">
                                <label>Date</label>
                            </div>
                            <div class="input-field col m12 l6">
                                <input type="text" name="remarks" class="validate">
                                <label>Remarks</label>
                            </div>
                            <div class="input-field col m12 l3">
                                <button type="submit" class="waves-effect waves-light btn light-blue right" href="#" id="add-button">
                                    <i class="material-icons left">add</i>Add
                                </button>
                            </div>
                        </form>
                    </div>
                    {% for h in holidays %}
                        <div class="row">
                            <div class="col m12 l3">
                                <div>{{ h.date.date() }}</div>
                            </div>
                            <div class="col m12 l6">
                                <div>{{ h.remarks }}</div>
                            </div>
                            <div class="col m12 l3">
                                <a class="waves-effect waves-red btn-flat red-text right modal-trigger delete-holiday"
                                   href="#delete-holiday-modal"
                                   data-holidayid="{{ h.holiday_id }}" data-holiday="{{ h.date.date() }}">
                                    <i class="material-icons">delete</i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
                <div class="card-action right-align">
                    <a class="waves-effect waves-light btn-flat light-blue-text" href="#" id="btnReset">
                        <i class="material-icons left">check</i>OK
                    </a>
                </div>
            </div>
        </div>
    </div>

    <!-- Modal (Delete) -->
    <div id="delete-holiday-modal" class="modal">
        <div class="modal-content">
            <h4>Delete User</h4>
            <p>Please confirm deleting holiday <span class="deleting-holiday"></span></p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-light btn red" id="delete-holiday-confirmation">
                <i class="material-icons left">delete</i>Delete
            </a>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ super() }}
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.22.2/moment.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var now = new Date(moment());
            var elem = document.querySelector('#date');
            var instance = M.Datepicker.init(elem, {
                setDefaultDate : true,
                defaultDate: now,
                minDate: now,
                disableWeekends: true,
                format: 'yyyy-mm-dd',
            });

            //
            // Delete holiday
            //
            var deleteButtons = document.getElementsByClassName('delete-holiday');
            for (var i = 0; i < deleteButtons.length; i++) {
                deleteButtons[i].addEventListener('click', function () {
                    // Extract selected holiday
                    var holidayId = this.getAttribute('data-holidayid');
                    var d = document.getElementsByClassName('deleting-holiday');
                    // Passing deleting email to modal
                    d[0].innerHTML = this.getAttribute('data-holiday');
                    document.getElementById('delete-holiday-confirmation').setAttribute('data-holidayid', holidayId);
                });
            }

            // Confirming to delete event
            document.getElementById('delete-holiday-confirmation').addEventListener('click', function () {
                var holidayId = this.getAttribute('data-holidayid');
                console.log(holidayId);
                axios.post('/api/holiday/delete', {'holiday_id': holidayId})
                    .then(function (response) {
                        console.log(response);
                        location.reload();
                    })
                    .catch(function (error) {
                        M.toast({html: 'Error while deleting user', classes: 'pink'});
                    });
            });
        });
    </script>
{% endblock %}