{% extends '/main/base.html' %}

{% block title %}Main Page{% endblock %}


{% block content %}

    <div class="row">
        <div class="col s12">
            <a class="waves-effect btn-flat" href="#" id="btn-move-next">
                <i class="material-icons left">fast_forward</i>
                Move Next
            </a>
            <a class="waves-effect btn-flat" href="#" id="btn-resend-email">
                <i class="material-icons left">send</i>
                Resend Email
            </a>
            <a class="waves-effect btn-flat" href="#" id="btn-save">
                <i class="material-icons left">save_alt</i>
                Save
            </a>
            <a class="waves-effect btn-flat" href="#" id="btn-reset">
                <i class="material-icons left">refresh</i>
                Reset
            </a>
        </div>
    </div>

    {#
     #  INACTIVE PANE
     #}
    <div class="row">
        <div class="col s12 m12 l12 xl6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">
                        Inactive
                        <a href="#add-user-modal" class="modal-trigger">
                            <i class="material-icons right tooltipped" data-tooltip="Add New User">person_add</i>
                        </a>
                    </div>
                </div>
                <div id="inactive-user-list" class="collection">
                    {% for u in off_duty_users %}
                        <div class="collection-item" data-email="{{ u.email }}" data-seq="{{ u.seq }}" data-uid="{{ u._id }}">
                            <i class="material-icons left">drag_indicator</i>
                            {{ u.display_name }}
                            <div class="secondary-content">
                                <a class="modal-trigger delete-user" href="#deleteUserModal"
                                   data-email="{{ u.email }}" data-displayname="{{ u.display_name }}">
                                    <i class="material-icons pink-text right">delete</i>
                                </a>
                                <a href="{{ url_for('main.update_user', email=[u.email]) }}">
                                    <i class="material-icons right">edit</i>
                                </a>
                                <a href="{{ url_for('main.vacation', email=u.email) }}">
                                    <i class="material-icons right">schedule</i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>

        {#
         #   ACTIVE PANE
         #}
        <div class="col s12 m12 l12 xl6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Active</div>
                </div>
                <div id="active-user-list" class="collection">
                    {% for u in on_duty_users %}
                        <div class="collection-item {{ "grey lighten-4 grey-text" if u.is_vacation }}"
                             data-email="{{ u.email }}" data-seq="{{ u.seq }}" data-uid="{{ u._id }}">
                            <i class="material-icons left">drag_indicator</i>
                            <span>
                                {{ u.display_name }}
                                {% if u.is_vacation %}
                                    <span class="grey-text">(Vacation)</span>
                                {% endif %}
                            </span>
                            <div class="secondary-content">
                                {% if u.seq == current_rotation %}
                                    <span class="pink-text left">Current</span>
                                {% elif u.seq == next_rotation %}
                                    <span class="light-blue-text left">Next</span>
                                {% endif %}

                                <a class="modal-trigger delete-user" href="#deleteUserModal"
                                   data-email="{{ u.email }}" data-displayname="{{ u.display_name }}">
                                    <i class="material-icons pink-text right">delete</i>
                                </a>
                                <a href="{{ url_for('main.update_user', email=[u.email]) }}">
                                    <i class="material-icons right">edit</i>
                                </a>
                                <a href="{{ url_for('main.vacation', email=u.email) }}">
                                    <i class="material-icons right">schedule</i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal (Delete) -->
    <div id="deleteUserModal" class="modal">
        <div class="modal-content">
            <h4>Delete User</h4>
            <p>Please confirm deleting this user:</p>
            <blockquote class="deleting-email"></blockquote>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-light btn pink" id="deleteUserConfirmation">
                <i class="material-icons left">delete</i>Delete
            </a>
        </div>
    </div>

    <!-- Modal (Add User) -->
    <div class="modal" id="add-user-modal">
        <form action="/add_user" method="post">
            <div class="modal-content">
                <h4>Add User</h4>
                <div class="row">
                    <div class="col s12">
                        <div class="card">
                            <div class="card-content">
                                <div class="row">
                                    <div class="input-field col m12 l6">
                                        <i class="material-icons prefix">mail_outline</i>
                                        <input type="email" name="email" class="validate" id="add-user-email">
                                        <label for="add-user-email">Email</label>
                                    </div>
                                    <div class="input-field col m12 l6">
                                        <i class="material-icons prefix">face</i>
                                        <input type="text" name="display_name">
                                        <label>Display Name</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">
                    Cancel
                </a>
                <button type="submit" href="#!" class="modal-close waves-effect waves-light btn-flat blue-text disabled" id="add-user-button">
                    <i class="material-icons left">person_add</i>
                    Add
                </button>
            </div>
        </form>
    </div>

{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- dragula -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script>
        (function () {
            //
            // Display cached toast message
            //
            var infoMsg = localStorage.getItem('infoMsg');
            if (infoMsg != null) {
                console.log(infoMsg);
                M.toast({html: infoMsg, classes:'pink'});
                localStorage.removeItem('infoMsg');
            }

            //
            // Dragula
            //
            var drake = dragula([
                document.getElementById('inactive-user-list'),
                document.getElementById('active-user-list')
            ]);

            document.getElementById('btn-reset').addEventListener('click', function () {
                location.reload();
            });

            //
            // Save User Rotation
            //
            document.getElementById('btn-save').addEventListener('click', function () {
                var result = {
                    active_users: getUserOrder('active-user-list'),
                    inactive_users: getUserOrder('inactive-user-list')
                };

                axios.post('/api/users', result)
                    .then(function (response) {
                        console.log(response);
                        localStorage.setItem('infoMsg', 'Saved!');
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);
                        M.toast({html: 'Error while saving', classes: 'pink'});
                    });
            });

            function getUserOrder(elemId) {
                var users = document.getElementById(elemId).children;
                var result = [];
                for (var i = 0; i < users.length; i++) {
                    var email = users[i].getAttribute('data-email');
                    if (email) {
                        result[i] = email;
                    }
                }
                return result;
            }


            //
            // Delete User
            //
            var deleteButtons = document.getElementsByClassName('delete-user');
            for (var i = 0; i < deleteButtons.length; i++) {
                deleteButtons[i].addEventListener('click', function () {
                    // Extract selected user
                    var email = this.getAttribute('data-email');
                    var d = document.getElementsByClassName('deleting-email');
                    // Passing deleting email to modal
                    d[0].innerHTML = this.getAttribute('data-displayname') + '<br />' + email;
                    document.getElementById('deleteUserConfirmation').setAttribute('data-email', email);
                });
            }

            // Confirming to delete event
            document.getElementById('deleteUserConfirmation').addEventListener('click', function () {
                var deletingEmail = this.getAttribute('data-email');
                axios.post('/api/user/delete', {'email': deletingEmail})
                    .then(function (response) {
                        console.log(response);
                        location.reload();
                    })
                    .catch(function (error) {
                        M.toast({html: 'Error while deleting user', classes: 'pink'});
                    });
            });

            //
            //  Add User - Enable/disable the Add button
            //
            document.getElementById('add-user-email').addEventListener('blur', function (event) {
                var isInvalid = event.target.classList.contains('invalid') || !this.value;
                if(isInvalid){
                    document.getElementById('add-user-button').classList.add('disabled');
                    M.toast({html: 'Please enter valid email', classes: 'pink'});
                }
                else{
                    document.getElementById('add-user-button').classList.remove('disabled');
                }
            });

            //
            //  Move Next
            //
            document.getElementById('btn-move-next').addEventListener('click', function(){
                axios.post('/api/move-next')
                .then(function (response) {
                        localStorage.setItem('infoMsg', '<i class="material-icons prefix">check_circle</i> Moved to the next person');
                        location.reload();
                    })
                    .catch(function (error) {
                        M.toast({html: 'Error while moving next iteration', classes: 'pink'});
                    });
            });

            //
            //  Resend Email
            //
            document.getElementById('btn-resend-email').addEventListener('click', function(){
                axios.post('/api/email/resend')
                .then(function (response) {
                        if (response.data.status === 'ok'){
                            M.toast({html: '<i class="material-icons prefix">check_circle</i> Email has been sent', classes: 'pink'});
                        }
                        else{
                            M.toast({html: 'Email was not sent -' +  response.data.message, classes: 'pink'});
                        }
                    })
                    .catch(function (error) {
                        M.toast({html: '<i class="material-icons prefix">error</i> Error while resending email', classes: 'pink'});
                    });
            });

        })();
    </script>
{% endblock %}