{% extends '/main/base.html' %}

{% block title %}Main Page{% endblock %}


{% block content %}



    <div class="row">
        <div class="col s12">
            <a class="waves-effect btn-flat" href="{{ url_for('main.add_user') }}">Add user</a>
            <a class="waves-effect btn-flat" href="{{ url_for('main.delete_user') }}">Delete user</a>
            <a class="waves-effect btn-flat" href="{{ url_for('main.send_email') }}">Email</a>
            <a class="waves-effect btn-flat" href="{{ url_for('main.auth') }}">Authentication Test</a>
            <a class="waves-effect btn-flat" href="{{ url_for('main.holiday') }}">Holidays</a>
            <a class="waves-effect btn-flat" href="#" id="btnMoveNext">Move Next</a>
            <a class="waves-effect btn-flat" href="#" id="btnResendEmail">Resend Email</a>
            <a class="waves-effect btn-flat" href="#" id="btnSave">Save</a>
            <a class="waves-effect btn-flat" href="#" id="btnReset">Reset</a>
        </div>
    </div>

    <div class="row">
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Off Duty</div>
                </div>
                <div id="left" class="collection">
                    {% for u in off_duty_users %}
                        <div class="collection-item" data-email="{{ u.email }}" data-seq="{{ u.seq }}">
                            <i class="material-icons left">drag_indicator</i>
                            {{ u.display_name }}
                            <div class="secondary-content">
                                <a href="{{ url_for('main.update_user', email=[u.email]) }}">
                                    <i class="material-icons right">edit</i>
                                </a>
                                <a href="{{ url_for('main.vacation', email=u.email) }}">
                                    <i class="material-icons right">schedule</i>
                                </a>
                                <a class="modal-trigger delete-user" href="#deleteUserModal"
                                   data-email="{{ u.email }}" data-displayname="{{ u.display_name }}">
                                    <i class="material-icons right">delete</i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col s12 m6">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">On Duty</div>
                </div>
                <div id="right" class="collection">
                    {% for u in on_duty_users %}
                        <div class="collection-item {{ "grey lighten-4 grey-text" if u.is_vacation }}" data-email="{{ u.email }}" data-seq="{{ u.seq }}">
                            <i class="material-icons left">drag_indicator</i>
                            <span>{{ u.display_name }} | {{ u.is_vacation }} | {{ u.seq }}</span>
                            <div class="secondary-content">
                                {% if u.seq == current_rotation %}
                                    <span class="orange-text left">Current</span>
                                {% elif u.seq == next_rotation %}
                                    <span class="light-blue-text left">Next</span>
                                {% endif %}
                                <a href="{{ url_for('main.update_user', email=[u.email]) }}">
                                    <i class="material-icons right">edit</i>
                                </a>
                                <a href="{{ url_for('main.vacation', email=u.email) }}">
                                    <i class="material-icons right">schedule</i>
                                </a>
                                <a class="modal-trigger delete-user" href="#deleteUserModal"
                                   data-email="{{ u.email }}" data-displayname="{{ u.display_name }}">
                                    <i class="material-icons right">delete</i>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <!-- Modal (Delete) -->
    <div id="deleteUserModal" class="modal">
        <div class="modal-content">
            <h4>Delete User</h4>
            <p>Please confirm deleting this user:</p>
            <blockquote class="deleting-email"></blockquote>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-close waves-effect waves-green btn-flat">Cancel</a>
            <a href="#!" class="modal-close waves-effect waves-light btn red" id="deleteUserConfirmation">
                <i class="material-icons left">delete</i>Delete
            </a>
        </div>
    </div>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- dragula -->
    <script src='//cdnjs.cloudflare.com/ajax/libs/dragula/3.7.2/dragula.min.js'></script>
    <script>
        (function () {
            //
            // Display cached toast message
            //
            var infoMsg = localStorage.getItem('infoMsg');
            if (infoMsg != null) {
                console.log(infoMsg);
                M.toast({html: infoMsg, classes: 'light-blue'});
                localStorage.removeItem('infoMsg');
            }

            //
            // Dragula
            //
            var drake = dragula([
                document.getElementById('left'),
                document.getElementById('right')
            ]);

            document.getElementById('btnReset').addEventListener('click', function () {
                location.reload();
            });

            //
            // Save User Rotation
            //
            document.getElementById('btnSave').addEventListener('click', function () {
                var result = {
                    off_duty: getUserOrder('left'),
                    on_duty: getUserOrder('right')
                };

                axios.post('/api/get_user', result)
                    .then(function (response) {
                        console.log(response);
                        localStorage.setItem('infoMsg', 'Saved!');
                        location.reload();
                    })
                    .catch(function (error) {
                        console.log(error);
                        M.toast({html: 'Error while saving', classes: 'pink'});
                    });
            });

            function getUserOrder(elemId) {
                var users = document.getElementById(elemId).children;
                var result = [];
                for (var i = 0; i < users.length; i++) {
                    var email = users[i].getAttribute('data-email');
                    if (email) {
                        result[i] = email;
                    }
                }
                return result;
            }

            //
            // Move Next
            //
            document.getElementById('btnMoveNext').addEventListener('click', function () {
                console.log('btnMoveNext');
                axios.post('/api/move_next', {})
                    .then(function (response) {
                        console.log(response.data);
                        location.reload();
                    });
            });

            //
            // Delete User
            //
            var deleteButtons = document.getElementsByClassName('delete-user');
            for (var i = 0; i < deleteButtons.length; i++) {
                deleteButtons[i].addEventListener('click', function () {
                    // Extract selected user
                    var email = this.getAttribute('data-email');
                    var d = document.getElementsByClassName('deleting-email');
                    // Passing deleting email to modal
                    d[0].innerHTML = this.getAttribute('data-displayname') + '<br />' + email;
                    document.getElementById('deleteUserConfirmation').setAttribute('data-email', email);
                });
            }

            // Confirming to delete event
            document.getElementById('deleteUserConfirmation').addEventListener('click', function () {
                var deletingEmail = this.getAttribute('data-email');
                axios.post('/api/user/delete', {'email': deletingEmail})
                    .then(function (response) {
                        console.log(response);
                        location.reload();
                    })
                    .catch(function (error) {
                        M.toast({html: 'Error while deleting user', classes: 'pink'});
                    });
            });

        })();
    </script>
{% endblock %}