{% extends '/main/base.html' %}

{% block title %}Main Page{% endblock %}

{% block content %}
    <div class="row">
        <div class="col s12">
            <h1>Update User</h1>
        </div>
    </div>
    <div class="row">
        <div class="col s6">
            <div class="card">
                <div class="card-content">
                    <form method="post">
                        <div class="row">
                            <div class="input-field col s12">
                                <input disabled value="{{ user.email }}" id="email" type="text" class="validate">
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="input-field col s12">
                                <input value="{{ user.display_name }}" id="display_name" name="display_name" type="text" class="validate">
                                <label class="active" for="display_name">Display Name</label>
                            </div>
                        </div>
                        <button class="waves-effect waves-light btn light-blue" type="submit">Update</button>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <ul class="collapsible">
        <li>
            <div class="collapsible-header"><i class="material-icons">person</i>LDAP User Data</div>
            <div class="collapsible-body">
                {% if ldap_user != None %}
                    <div class="collection">
                        {% for key in ldap_user %}
                            <div class="row collection-item">
                                <div class="col s3"><strong>{{ key }}</strong></div>
                                <div class="col s9">{{ ldap_user.get(key) }}</div>
                            </div>
                        {% endfor %}
                    </div>

                {% endif %}
            </div>
        </li>
    </ul>


{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var elems = document.querySelectorAll('.collapsible');
            var instances = M.Collapsible.init(elems, options);
        });
    </script>
{% endblock %}