{% extends "layout.html" %}
{% block body %}

    <div class="row">
        <div class="col s12">
            <div class="card">
                <div class="card-content">
                    <div class="card-title">Holidays</div>
                    <table>
                        <tbody>
                        <tr>
                            <form method="post" action="/holiday/add">
                                <td>
                                    <div class="input-field">
                                        <input type="text" id="startVac" name="start_date" class="validate">
                                        <label>Start Date</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input type="text" id="endVac" name="end_date" class="validate">
                                        <label>End Date</label>
                                    </div>
                                </td>
                                <td>
                                    <div class="input-field">
                                        <input type="text" id="remarks" name="remarks" class="form-control">
                                        <label>Remarks</label>
                                    </div>
                                </td>
                                <td>
                                    <button type="submit" class="waves-effect waves-light btn blue right">
                                        <i class="material-icons left">add</i>Add
                                    </button>
                                </td>
                            </form>
                        </tr>
                        {% for m in model %}
                            <tr class="{{ 'text-muted' if m.active else '' }}">
                                <form method="post" action="/holiday/delete">
                                    <td>{{ m.start }}</td>
                                    <td>{{ m.end }}</td>
                                    <td>{{ m.remarks }}</td>
                                    <td>
                                        <button class="waves-effect waves-light btn red right">
                                            Delete
                                            <i class="material-icons left">delete</i>
                                        </button>
                                    </td>
                                    <input type="hidden" value="{{ m.id }}" name="id">
                                </form>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col s12">
            <a href="/" type="button" class="modal-action modal-close waves-effect waves-blue btn-flat right">
                <i class="material-icons teal-text left">check</i>OK
            </a>
        </div>
    </div>

{% endblock %}
