<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>IS Request Rotation</title>

    <!-- jquery -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

    <!-- materialize -->
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/css/materialize.min.css">
    <link href="//fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<!-- Dropdown Structure -->
<ul id="ddConfig" class="dropdown-content">
    <li><a href="/holiday" class="blue-text">Set Holidays</a></li>
    <li><a href="/email-config" class="blue-text">Email</a></li>
    <li class="divider"></li>
    <li><a href="/log" class="blue-text">System Log</a></li>
</ul>
<nav class="blue">
    <div class="nav-wrapper container">
        <a href="/" class="brand-logo">ISR Rotation</a>
        <ul class="right hide-on-med-and-down ">
            <li><a href="/">Main Page</a></li>
            <!-- Dropdown Trigger -->
            <li><a class="dropdown-button" href="#!" data-activates="ddConfig">Dropdown<i class="material-icons right">arrow_drop_down</i></a>
            </li>
        </ul>
    </div>
</nav>




<div class="container">
    {% block body %}{% endblock %}
</div><!-- /.container -->


<!--jQuery -->
<script src="//code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
        crossorigin="anonymous"></script>

<script src="//code.jquery.com/ui/1.12.1/jquery-ui.min.js"
        integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
        crossorigin="anonymous"></script>

<script src="//cdnjs.cloudflare.com/ajax/libs/materialize/0.99.0/js/materialize.min.js"></script>

<script src="{{ url_for('static', filename='app.js') }}"></script>

{% block scripts %}{% endblock %}




</body>
</html>