{% extends "layout.html" %}
{% block body %}

    <h2>Vacation - {{ user.name }}</h2>

    <div class="row">
        <div class="col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th>Start</th>
                        <th>End</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <form method="post">
                        <tr>
                            <td><input type="text" id="startVac" name="start_date" class="form-control"></td>
                            <td><input type="text" id="endVac" name="end_date" class="form-control"></td>
                            <td><button type="submit" class="btn btn-default"><i class="glyphicon glyphicon-plus"></i></button></td>
                        </tr>
                    </form>
                    {% for m in model %}
                    <tr>
                        <td>{{ m.start_date }}</td>
                        <td>{{ m.end_date }}</td>
                        <td>
                            <a href="/vacation/delete/{{ m.userid }}/{{ m.id }}" data-userid="{{ m.id }}" class="btn btn-danger">
                                <i class="glyphicon glyphicon-trash"></i>
                            </a>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}


{% block scripts %}
{% endblock %}
